<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- CONSTANTS -->
  <param name="SIMULATOR" value="flatland" />
  <param name="local_planner" value="rosnav" />


  <arg name="model" default="burger"      doc="model type [burger, jackal, ridgeback, agvota, rto, rto_real]"/>

  <!-- Here are the argument that may be frequently changed -->
  <arg name="ns_prefix" default="sim" />
  <arg name="num_envs" default="1" />

  <param name="single_env" value="false" />

  <!-- train mode  -->
  <arg name="train_mode" default="true"/>

  <!-- the folder name under the path simulator_setup/maps  -->
  <arg name="map_folder_name" default="map_empty" />
  <param name="map_file" value="$(arg map_folder_name)" />
  <param name="map_layer_path" value="$(find arena-simulation-setup)/maps/$(arg map_folder_name)/map.world.yaml" />

  <arg name="entity_manager" default="flatland" doc="[flatland, pedsim]" />
  <param name="entity_manager" value="$(arg entity_manager)" />

  <!-- if it's false flatland server will not publish any debug related infomation and you will not able to visuzalize e.g robot, dynamic obstacles  -->
  <!-- <param name="space_encoder" value="UniformEncoder" /> -->
  <rosparam file="$(find arena_bringup)/configs/task_generator.yaml" command="load" ns="configuration"/>
  <rosparam command="load" file="$(find arena-simulation-setup)/robot/$(arg model)/model_params.yaml" /> 
  <rosparam command="load" file="$(find arena_bringup)/params/flatland.yaml" />
  <rosparam command="load" file="$(find arena_bringup)/params/drl.yaml" />
  <rosparam command="load" file="$(find arena_bringup)/params/map_generator.yaml" ns="map_generator" />
  
  <!--  PARAMS DON'T CHANGE THEM  -->
  <param name="use_sim_time" value="true" />
  <param name="train_mode" value="$(arg train_mode)" />
  <param name="num_envs" value="$(arg num_envs)" />
  <arg name="map_path" default="$(find arena-simulation-setup)/maps/$(arg map_folder_name)/map.yaml" />
  <param name="world_path" value="$(find arena-simulation-setup)/maps/$(arg map_folder_name)/map.world.yaml" />
  <param name="map_path" value="$(arg map_path)" />
  <param name="model" value="$(arg model)" />

  <!-- map server-->
  <include file="$(find arena_bringup)/launch/utils/map_server.launch">
    <arg name="map_file" value="$(arg map_folder_name)"/>
    <arg name="map_path" value="$(arg map_path)"/>
  </include>

  <group if="$(eval arg('train_mode') == false)">
    <!-- makes sure that action's will be published according to sim time in eval mode-->
    <node name="action_publisher" pkg="arena_local_planner_drl" type="action_publisher.py"/>
  </group>

  <!-- set the log format -->
  <env name="ROSCONSOLE_FORMAT" value="[${severity} ${time} ${logger}]: ${message}" />
  <include file="$(find arena_bringup)/launch/training/single_env_training.launch">
    <arg name="ns" value="eval_sim" />
    <arg name="model" value="$(arg model)" />
  </include>

  <include file="$(find arena_bringup)/launch/training/start_envs.launch">
    <arg name="num_envs" value="$(arg num_envs)" />
    <arg name="ns_prefix" value="$(arg ns_prefix)" />
    <arg name="model" value="$(arg model)" />
  </include> 
  
  <node pkg="task_generator" name="task_generator_server" type="server.py" output="screen"/>
  <node pkg="task_generator" name="task_generator_filewatcher" type="filewatcher.py" output="screen"/>

</launch>