<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- map folder -->
  <!-- <arg name="ns_prefix" value="sim" />

  <arg name="train_mode" default="true" />
  <arg name="num_envs" default="1" />
  <arg name="map_folder_name" default="map_empty" />

  <rosparam file="$(find arena_bringup)/launch/start_flatland.yaml" command="load" />
  <arg name="map_path" default="$(find simulator_setup)/maps/$(arg map_folder_name)/map.yaml" />
  <param name="world_path" value="$(find simulator_setup)/maps/$(arg map_folder_name)/map.world.yaml" /> -->


  <arg name="model" default="burger"      doc="model type [burger, jackal, ridgeback, agvota, rto, rto_real]"/>

  <arg name="training_args" default="" />

  <arg name="local_planner" default="rosnav" doc="local-planer type [teb, dwa, mpc, rlca, cadrl, arena, rosnav]"/>
  <param name="local_planner" value="$(arg local_planner)"/>

  <!-- Here are the argument that may be frequently changed -->
  <arg name="ns_prefix" default="sim" />
  <arg name="num_envs" default="1" />

  <!-- train mode  -->
  <arg name="train_mode" default="true"/>

  <!-- To make the training more efficient make sure this step_size*laser_update_rate == 1  -->
  <arg name="step_size" default="0.01"/>
  <arg name="update_rate" default="250"/>
  <arg name="show_viz" default="true"/>
  <arg name="viz_pub_rate" default="30" />

  <!-- the folder name under the path simulator_setup/maps  -->
  <arg name="map_folder_name" default="map_empty" />

  <!-- the velocity of randomly genelized obstacles  -->
  <arg name="obs_vel" default="0.3" />
  <!-- if it's false flatland server will not publish any debug related infomation and you will not able to visuzalize e.g robot, dynamic obstacles  -->

  <param name="space_encoder" value="UniformEncoder" />

  <rosparam command="load" file="$(find arena-simulation-setup)/robot/$(arg model)/model_params.yaml" /> 
  <param name="robot_yaml_path" value="$(find arena-simulation-setup)/robot/$(arg model)/$(arg model).model.yaml" />
  <param name="tmp_model_path" value="/tmp" />

  <!--  PARAMS DON'T CHANGE THEM  -->
  <param name="update_rate" value="$(arg update_rate)" />
  <param name="use_sim_time" value="true" />
  <param name="train_mode" value="$(arg train_mode)" />
  <param name="num_envs" value="$(arg num_envs)" />
  <param name="step_size" value="$(arg step_size)" />
  <param name="obs_vel" value="$(arg obs_vel)" />
  <arg name="map_path" default="$(find arena-simulation-setup)/maps/$(arg map_folder_name)/map.yaml" />
  <param name="world_path" value="$(find arena-simulation-setup)/maps/$(arg map_folder_name)/map.world.yaml" />
  <param name="show_viz" value="$(arg show_viz)"/>
  <param name="viz_pub_rate" value="$(arg viz_pub_rate)"/>
  <param name="robot_action_rate"     value="5"/>
  <param name="laser_update_rate"     value="10"/>
  <param name="_dedicated_train_launch" value="true" />


  <!-- map server-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)">
    <!-- In multi-env training /clock not available, since we only want one map_server, it's clock topic is remapped to /clock -->
    <remap from="/clock" to="/$(arg ns_prefix)1/clock" />
  </node>

  <group if="$(eval arg('train_mode') == false)">
    <!-- makes sure that action's will be published according to sim time in eval mode-->
    <node name="action_publisher" pkg="arena_local_planner_drl" type="action_publisher.py"/>
  </group>

  <!-- set the log format -->
  <env name="ROSCONSOLE_FORMAT" value="[${severity} ${time} ${logger}]: ${message}" />
  <include file="$(find arena_bringup)/launch/training/single_env_training.launch">
    <arg name="ns" value="eval_sim" />
  </include>

  <include file="$(find arena_bringup)/launch/training/start_envs.launch">
    <arg name="num_envs" value="$(arg num_envs)" />
    <arg name="ns_prefix" value="$(arg ns_prefix)" />
  </include> 

</launch>