<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="ns"/>

  <rosparam command="load" file="$(find arena_bringup)/params/flatland.yaml" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="transform_broadcaster" args="0 0 0 0 0 0 1 map $(arg ns)_odom" />
  
  <!-- launch flatland server -->
  <node name="$(anon flatland_server)" pkg="flatland_server" type="flatland_server" output="screen">
    <!-- remapping for namespace -->
    <remap from="/clock" to="/$(arg ns)/clock"/>
    <remap from="/step_world" to="/$(arg ns)/step_world" />
    <!-- <remap from="/move_model" to="/$(arg ns)/move_model" /> -->
  </node>
</launch>