<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="config" default=""  />

    <node pkg="task_generator" name="task_generator_server" type="server.py" output="screen"/>
    <node pkg="task_generator" name="task_generator_filewatcher" type="filewatcher.py" output="screen"/>


    <node name="train_agent"
        type="train_agent.py"
        pkg="training"
        args="--config $(arg config)"
        output="screen"
    >   
    </node>
    <rosparam file="$(find arena_bringup)/configs/task_generator.yaml" command="load" ns="configuration"/>
</launch>
