#!/usr/bin/env python
import dynamic_reconfigure.parameter_generator_catkin as dynamic_reconfigure
import os
import math

PACKAGE = "task_generator"

group_name_ = ""
group_bit_ = 0x1

def new_group(name):
    global group_name_, group_bit_
    group_name_ = str(name).replace("_", "")
    group_bit_ <<= 1
    return group_name_

def prefix(*args):
    global group_name_
    return str(group_name_) + "_" + "_".join(str(arg) for arg in args)

gen = dynamic_reconfigure.ParameterGenerator()

gen.add("timeout", dynamic_reconfigure.double_t, group_bit_, f"episode timeout in seconds", default=60, min=-1, max=600)
gen.add("episodes", dynamic_reconfigure.int_t, group_bit_, f"desired episodes", default=-1, min=-1, max=100)

gen.add("goal_radius", dynamic_reconfigure.double_t, group_bit_, f"default maximum distance from goal", default=1.0, min=0.0, max=50.0)
gen.add("goal_tolerance_angle", dynamic_reconfigure.double_t, group_bit_, f"default maximum angle deviation from goal", default=30, min=0, max=180)

group = gen.add_group(new_group("map"))
algorithm_enum = gen.enum([
    gen.const("none",      dynamic_reconfigure.str_t, "none", "load existing map"),
    gen.const("rosnav",     dynamic_reconfigure.str_t, "rosnav", "rosnav mapgen"),
    gen.const("airchitect",      dynamic_reconfigure.str_t, "airchitect", "airchitect mapgen")
 ], "available algorithms")
group.add(prefix("algorithm"), dynamic_reconfigure.str_t, group_bit_, "algorithm name", "none", edit_method=algorithm_enum)
group.add(prefix("config_json"), dynamic_reconfigure.str_t, group_bit_, "algorithm config (JSON)", "{}")
group.add(prefix("timeout"), dynamic_reconfigure.int_t, group_bit_, "timeout waiting for new map", 60)


group = gen.add_group(new_group("SCENARIO"))
group.add(prefix("file"), dynamic_reconfigure.str_t, group_bit_, "scenario file name", "default.json")

group = gen.add_group(new_group("PARAMETRIZED"))
group.add(prefix("file"), dynamic_reconfigure.str_t, group_bit_, "parametrized XML name", "default.xml")

group = gen.add_group(new_group("STAGED"))
group.add(prefix("curriculum"), dynamic_reconfigure.str_t, group_bit_, "curriculum file name", "default.yaml")
group.add(prefix("index"), dynamic_reconfigure.int_t, group_bit_, "starting stage", 0, 0)

group = gen.add_group(new_group("DYNAMICMAP"))
group.add(prefix("episodes"), dynamic_reconfigure.int_t, group_bit_, "episodes per map", default=5, min=1, max=100)

group = gen.add_group(new_group("RANDOM"))
for obstype in ["static", "interactive", "dynamic"]:
    group.add(prefix(obstype, "min"), dynamic_reconfigure.int_t, group_bit_, f"{obstype} min", default=0, min=0, max=20)
    group.add(prefix(obstype, "max"), dynamic_reconfigure.int_t, group_bit_, f"{obstype} max", default=0, min=0, max=20)
    group.add(prefix(obstype, "models"), dynamic_reconfigure.str_t, group_bit_, f"{obstype} models", "")
group.add(prefix("seed"), dynamic_reconfigure.int_t, group_bit_, f"random seed", -1)

group = gen.add_group(new_group("ZONES"))
group.add(prefix("scenario"), dynamic_reconfigure.str_t, group_bit_, "zones scenario file name", "default.yaml")
# group.add(prefix("file"), dynamic_reconfigure.str_t, group_bit_, "zones zones file name", "default.yaml")

exit(gen.generate(PACKAGE, "configuration", "TaskGenerator"))
